.box {
-webkit-transition: all 1s ease-in-out;
}

.reveal img {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  /*height: 100%;*/
}

.reveal a:hover img {
  box-shadow: none;
  border: none;
}

section {
  height: 100%;
  width: 100%;
  /*background: linear-gradient(to right, #0B8295, #BCB21A);*/

  transition: all 250ms ease;
}

html {
  height: 100vh;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   tap-highlight-color: transparent;
   -webkit-tap-highlight-color: transparent;
   box-sizing: border-box;
}


/*text size*/
.reveal h1 {
  font-size: 50px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color:#fff;
}
.reveal h2 {
  font-size: 40px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
 h3 {
  font-size: 37px;
  line-height: 1.1;
  font-family: 'Roboto', sans-serif;
}

 h4 {
  font-size: ;
  font-weight: 400;
  line-height: 1;
  font-family: 'Roboto', sans-serif;

}

h6 {
 font-size: 18px !important;
 font-weight: 400;
 line-height: 1;
 font-family: 'Roboto', sans-serif;

}
.bold {
  font-weight:900 !important;
}

.upper{
  text-transform: uppercase;
}

/*Color*/
.primary {
color: white !important;
}

.secondary {
color:#494485 !important;
}

.tertiary {
color:#a97eb1;
background-color:#a97eb1;
}


/*background sections and bugs*/
.header {
  background:url(../img/header.png);
  /*height: 13vh;*/
  /* height: 150px; */

  height: 100px;
  position: fixed;
  /*width: 98.3vw;*/
  width: 100%;
  margin: 0 auto;
  /*padding: 9px !important;*/
  top: 0;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat !important;
  /*border: 5px solid pink !important;*/
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background:url(../img/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  /* top: 129px; */
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: calc(100% - 100px);
  z-index: -1;
}

.background-objections {

  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  /* top: 129px; */
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: calc(100% - 100px);
  z-index: -1;
}



.answer-bn {
  max-width: 500px;
  text-align: center;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  background: #58666e;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  padding: 10px 40px 10px 40px !important;
}

.deck-title {
  flex-grow: 1;
  text-align: left;
  /*padding-left: 13% !important;
  padding-bottom: 4.5% !important;*/
}

.deck-title h2 {
  /*position: fixed;*/
  color: white;
  font-size: 70px;
  font-weight: 600 !important;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding-left: 15px;
}

.deck-name {
 background-color: #0000004d;
 height: 100%;
 padding: 0px 120px 0px 120px !important;
}

.objections {
 background-color: #0000004d;
 height: 100%;
 /* padding: 0px 5.6% 0px 5.6% !important; */
 width: 25%;
 margin: auto;
 display: flex;
 align-items: center;
}

.objections h2 {
  color: white;
  font-size: 30px !important;
  font-weight: 300 !important;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

/* i always use this website for gradients */
/* http://www.colorzilla.com/gradient-editor/ */
/* -sophie */

.objection-1 {
  background-color: #aac11e; //this should be a gradient need to make that later

}

.objection-2 {
  background-color: #75945c; //this should be a gradient need to make that later
}

.objection-3 {
  background-color: #495786;
}

.objection-4 {
  background-color: #494083;
}

.obj_tab {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000 !important;
  display: none;
}

.active_tab, .obj_tab.active_tab {
  display: block !important;
}

.active_nav h2 {
  font-weight: bold !important;
}

.obj_tab h1 {
  color: #000 !important;
}

.objections-text {
    border: 5px solid violet;
}

.admin img {
  /*background-color: #ffffff4d !important;*/
  /* position: fixed; */
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: center !important;
  margin: 0 auto !important;
  padding: 10px 40px 10px 40px;
  /*border: 5px solid red !important;*/
  /* padding: 0px 120px 0px 120px !important; */
}

.admin-link {
  background-color: #ffffff4d !important;
}

.header h1,h6,a{
  text-decoration: none !important;
}


.deck-name h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: inherit;
  margin: 0px;
}



.deck-name h6 {
  color: white;
  font-weight: 70;
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px 0px 0px;
  letter-spacing: normal;
  margin-bottom: 15.5px;
}




/*Common Stuff*/

.column {
    float: left;
    position: relative;
    text-align:left;
    top: 350px;
    left: 57px;
    width: 14%;
    height: 300px;
}

.columnspan {
    float: left;
    position: relative;
    text-align:left;
    top: 350px;
    left:50px;
    width:30%;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Results*/

/*Navigation*/
.next-arrow-position {
  background-size: contain;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0px;
  right: 27%;
  bottom: 25px;

}

.prev-arrow-position {
  background-size: contain;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0px;
  left: 27%;
  bottom: 25px;
}

.next {
  background:url(../img/arrow-right.png);
  background-size: contain;
  position: fixed;
  z-index: 30;
}

.prev {
  background:url(../img/arrow-left.png);
  background-size: contain;
  position: fixed;
  z-index: 30;
}


.home-position {
  background-size: contain;
  position: absolute;
  top: 940px;
  left: 1275px;
  width: 61px;
  height: 50px;
  border: 0px;
  right: 900px;
}

.home {
  background:url(../img/home-icon.png);
  background-size: contain;
  position: fixed;
  z-index: 30;
}

/*Popup Blur*/
.popup-container {
  z-index: 180;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  transition: all 500ms ease;
}

.blur {
  z-index: 200;
  background-color: #ffffff80;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
}

.on-blur {
  filter: blur(5px) !important;
  -webkit-filter: blur(5px) !important;
  opacity: 0.9;
}

.popup-modal {
  z-index: 210;
  align-items: center;
  position: fixed;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  /*box-shadow: 15px 10px #000000a1;*/
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.popup-modal-close {
  position: absolute;
  height: 70px;
  width: 100%;
  left: 0px;
  top: 0px;
  border: 0px;
  z-index: 211;
  text-align: right;
}

.popup-modal-close img {height: 100%; width: auto; }

.footer {
  height: 100px;
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin: 0 auto;
  padding: 9px !important;
}

.modal-pic {
  margin-top: 75px;
}

.modal-pic img {
  width: 100%;
  box-shadow: 10px 10px 10px #666;
  -moz-box-shadow: 10px 10px 10px #666;
  -webkit-box-shadow: 10px 10px 10px #666;
}



/*body*/
.nav-note {
  /*position: absolute;
  top: 940px;
  left: 0px;
  width: 1393px;
  height: 1024px;
  text-align: center;*/
  position: fixed;
  width: 100%;
  bottom: 25px;
  margin: 0px 0px 0px 0px !important;
}

.top-note {
  position: absolute;
  font-size: 35px !important;
  text-align: center;
  width: 100%;
  margin: 30px 0px 0px 0px !important;
}

.exit-icon {
  background-color: violet;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1100px;
  top: 180px;
  border: 0px;
  z-index: 35;
}

.disclaimer {
  position: absolute;
  width: 1200px;
  height: 200px;
  left: 83px;
  top: 250px;
}

.graphic-1 {
  position: absolute;
  width: 2668px;
  height: 2000px;
  left: 4%;
  top: -5%;
  border: 0px;
  z-index:0;
}

.spread-1 {
  width: 100%;
  height: 77%;
  top: 150px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-1 img {
  position: absolute;
  width: 100%;
  height: 68%;
  margin: auto;
}


.spread-2 {
  width: 100%;
  height: 77%;
  top: 150px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-2 img {
  position: absolute;
  width: 76%;
  height: 68%;
  margin: auto;
}


.spread-3 {
  width: 100%;
  height: 77%;
  top: 150px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-3 img {
  position: absolute;
  width: 76%;
  height: 68%;
  margin: auto;
}

.spread-4 {
  width: 100%;
  height: 77%;
  top: 150px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-4 img {
  position: absolute;
  width: 50%;
  height: 90%;
  margin: auto;
}

.spread-objections {
  width: 100%;
  height: 77%;
  top: 150px;
  position: fixed;
  /*border: 5px solid pink !important;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.spread-objections img {
  position: absolute;
  width: 50%;
  height: 90%;
  margin: auto;
}

button {
  outline: 0;
  border: 0;
}

#o-chall-bn-1 {
  background:url(../img/onc-challenge-bt-1.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-o {
  background:url(../img/uro-spread1-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 50px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;

}

#pop-bn-2-o {
  background:url(../img/uro-spread1-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 730px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-o {
  background:url(../img/onc-spread1-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1350px;
  top: 430px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-2 {
  background:url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-1o {
  background:url(../img/onc-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 200px;
  top: 310px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-2o {
  background:url(../img/onc-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 450px;
  top: 380px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-3o {
  background:url(../img/onc-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 915px;
  top: 600px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-4o {
  background:url(../img/onc-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1480px;
  top: 188px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5ao {
  background:url(../img/onc-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 960px;
  top: 520px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5bo {
  background:url(../img/onc-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1430px;
  top: 570px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-6o {
  background:url(../img/onc-spread2-bt-6.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1430px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}


#o-chall-bn-3 {
  background:url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-1o {
  background:url(../img/onc-spread3-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 630px;
  top: 310px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-2ao {
  background:url(../img/onc-spread3-bt-2a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1510px;
  top: 188px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-2bo {
  background:url(../img/onc-spread3-bt-2b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1400px;
  top: 490px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-4 {
  background:url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-1o {
  background:url(../img/onc-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 930px;
  top: 210px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-2o {
  background:url(../img/onc-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 840px;
  top: 340px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-3o {
  background:url(../img/onc-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-4o {
  background:url(../img/onc-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 910px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5ao {
  background:url(../img/onc-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left:1300px;
  top: 470px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5bo {
  background:url(../img/onc-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1390px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#o-chall-bn-5 {
  background:url(../img/onc-challenge-bt-5.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1ao {
  background:url(../img/onc-spread5-bt-1a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 850px;
  top: 215px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1bo {
  background:url(../img/onc-spread5-bt-1b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 490px;
  top: 370px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-2o {
  background:url(../img/onc-spread5-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1100px;
  top: 290px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-1 {
  background:url(../img/onc-challenge-bt-1.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 30px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-1u {
  background:url(../img/uro-spread1-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 50px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;

}

#pop-bn-1-2u {
  background:url(../img/uro-spread1-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 730px;
  top: 485px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}


#pop-bn-1-3u {
  background:url(../img/uro-spread1-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1350px;
  top: 550px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-1-4u {
  background:url(../img/uro-spread1-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 960px;
  top: 460px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}


#pop-bn-1-5u {
  background:url(../img/uro-spread1-bt-5.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1350px;
  top: 410px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#-chall-bn-2 {
  background:url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-1u {
  background:url(../img/uro-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 200px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-2u {
  background:url(../img/uro-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 450px;
  top: 395px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-3u {
  background:url(../img/uro-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 460px;
  top: 550px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-4u {
  background:url(../img/uro-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1450px;
  top: 188px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5au {
  background:url(../img/uro-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 915px;
  top: 500px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-5bu {
  background:url(../img/uro-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 960px;
  top: 580px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-2-6u {
  background:url(../img/uro-spread2-bt-6.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1430px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-3 {
  background:url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-1u {
  background:url(../img/onc-spread3-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 830px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-2u {
  background:url(../img/uro-spread3-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 750px;
  top: 500px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-3au {
  background:url(../img/uro-spread3-bt-3a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1580px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-3-3bu {
  background:url(../img/uro-spread3-bt-3b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1400px;
  top: 490px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-4 {
  background:url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-1u {
  background:url(../img/uro-spread2-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 930px;
  top: 210px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-2u {
  background:url(../img/uro-spread2-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 840px;
  top: 340px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-3u {
  background:url(../img/uro-spread2-bt-3.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1300px;
  top: 200px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-4u {
  background:url(../img/uro-spread2-bt-4.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 935px;
  top: 590px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5au {
  background:url(../img/uro-spread2-bt-5a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left:1300px;
  top: 470px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-5bu {
  background:url(../img/uro-spread2-bt-5b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1390px;
  top: 620px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-4-6u {
  background:url(../img/uro-spread2-bt-6.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 935px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#u-chall-bn-5 {
  background:url(../img/onc-challenge-bt-5.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right: 25px;
  top: 680px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-1u {
  background:url(../img/uro-spread5-bt-1.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 550px;
  top: 300px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-2u {
  background:url(../img/uro-spread5-bt-2.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 860px;
  top: 300px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-3au {
  background:url(../img/uro-spread5-bt-3a.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1360px;
  top: 170px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#pop-bn-5-3bu {
  background:url(../img/uro-spread5-bt-3b.png);
  position: absolute;
  width: 85px;
  height: 87.5px;
  left: 1110px;
  top: 320px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-1 {
  background:url(../img/onc-challenge-bt-1.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right:110px;
  top: 400px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-2 {
  background:url(../img/onc-challenge-bt-2.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right:110px;
  top: 400px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-3 {
  background:url(../img/onc-challenge-bt-3.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right:110px;
  top: 400px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}

#ob-chall-bn-4 {
  background:url(../img/onc-challenge-bt-4.png);
  position: absolute;
  width: 210px;
  height: 270px;
  right:110px;
  top: 400px;
  border: 0px;
  background-size: contain;
  z-index: 10;
  background-repeat: no-repeat;
}
/*@-webkit-keyframes pulseAlt {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulseAlt {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.pulse {
  -webkit-animation-name: pulseAlt;
  animation-name: pulseAlt;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}*/

@keyframes bounceInPLZ {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.plzwork {
    animation-name: bounceInLess;
  -webkit-animation-iteration-count: once;
  animation-iteration-count: once;
}


.hidden {
  display: none;
}
